@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #161a42;
  background-image: linear-gradient(160deg, #161a42 0%, #5462ca 100%);

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_ {
  background: rgba(0, 0, 0, .5);
  text-align: left;
  border-collapse: collapse;
  min-width: 600px;
  border-radius: 10px;
  color: #EEE;
  padding: 20px;
}

#first {
  border-radius: 10px 0 0 0;
}

#last {
  border-radius: 0 10px 0 0;

}

.table_ th, td {
  padding: 20px;
}

.table_ thead {
  background-color: #161a42;
  background-image: linear-gradient(160deg, #161a42 0%, #5462ca 100%);

  border-bottom: solid 5px rgba(255, 255, 255, .5);

}

.table_ tr:nth-child(even) {
  background: rgba(0, 0, 0, .1);
}

.table_ tr:hover td {

  background: rgba(255, 255, 255, .1);
}